<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickEats&Drinks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/orders.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
</head>
<body class="bodyStyle">
    <header id="header" class="mainHeader">
        <div class="header-content">
            <div class="header-logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="QuickEats&Drinks Logo" class="logo-img">
                <h1>Quick Eats & Drinks</h1>
            </div>
            <div class="header-links">
                {% if current_user.is_authenticated %}
                    <span>Welcome, {{ current_user.username }}!</span>
                    <a href="{{ url_for('auth.logout') }}" class="nav-link">Logout</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}" class="nav-link">Login</a>
                    <a href="{{ url_for('auth.signup') }}" class="nav-link">Signup</a>
                {% endif %}
            </div>
        </div>
        <hr>
    </header>
    <br>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <nav class="topnav">
        <a href="{{ url_for('main.index') }}" class="nav-link">Home</a>
        <a href="{{ url_for('products.menu') }}" class="nav-link active">Menu</a>
        <a href="{{ url_for('orders.order_history') }}" class="nav-link">Order History</a>
        <a href="{{ url_for('admin.dashboard') }}" class="nav-link">Admin Panel</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <h5>&copy; 2024, QuickEats&Drinks. All rights reserved.</h5>
    </footer>
</body>
</html>
