{% extends 'base.html' %}

{% block title %}Menu{% endblock %}

{% block content %}
<div class="bodyStyle">

    <form id="orderForm" action="{{ url_for('products.process_order') }}" method="post" onsubmit="return validateOrder()">
        {% for group_name, products in grouped_products.items() %}
            <div class="cursiveText">
                <p>{{ group_name }}</p>
            </div>
            <div class="product-group-container">
            {% for product in products %}
                <div class="column">
                    <div class="card">
                        <img src="{{ product.image_url if 'http' in product.image_url else url_for('static', filename='images/' ~ product.image_url) }}" class="product-image">
                        <div class="container">
                            <h2 class="productTitle">{{ product.product_name }}</h2>
                            <p class="center">{{ product.price | format_currency }}</p>
                            <p class="center">{{ product.description }}</p>
                            <input type="hidden" name="productId[]" value="{{ product.id }}">
                            <input type="hidden" name="productName[]" value="{{ product.product_name }}">
                            <input type="hidden" name="price[]" value="{{ product.price }}">
                            <div class="center">
                                Quantity: <input name="quantity[]" type="number" min="0" max="15" value="0" maxlength="2" onchange="updateTotal({{ product.id }}, this.value, {{ product.price }})">
                            </div>
                            <p class="center">Total: <span id="itemTotal{{ product.id }}">0.00</span></p>
                            <br>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <hr>
        {% endfor %}

        <div class="order-total-container">
            <p class="order-total-title">Order Total:</p>
            <p class="order-total-value" id="orderTotal">0.00</p>
        </div>

        <br> <input type="submit" value="Submit Order" class="button">
        <br> <br> <input type="reset" value="Reset Order" class="button" onclick="resetForm()">
    </form>

    <hr>
</div>

<script>
    var itemTotals = new Array({{ total_products_count }});
</script>

<!-- Link to the external JavaScript file -->
<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endblock %}
