{% extends 'base.html' %}

{% block title %}Order History{% endblock %}

{% block content %}
<div class="bodyStyle">
    <div class="cursiveText">
        <p>Order History</p>
    </div>

    {% if orders %}
        {% for order_data in orders %}
            <div>
                <p><b>Order Number: {{ order_data.order.id }} | Date: {{ order_data.order.order_date_time.strftime('%Y-%m-%d') }} | Time: {{ order_data.order.order_date_time.strftime('%H:%M:%S') }} | Total Amount: ${{ order_data.order.total_amount }}</b></p>
                <table style="width: 80%">
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                    {% for item in order_data.items %}
                    <tr>
                        <td align="center">{{ item.product.name }}</td>
                        <td align="center">${{ item.price }}</td>
                        <td align="center">{{ item.quantity }}</td>
                        <td align="center">${{ item.amount }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p class="center">You have no orders at this time.</p>
    {% endif %}
</div>
{% endblock %}
