{% extends 'base.html' %}

{% block content %}
<h1>Order History</h1>

{% for data in orders %}
    <h2>Order ID: {{ data['order'].id }}</h2>
    <p>Order Date: {{ data['order'].order_date_time }}</p>
    <p>Total Amount: {{ data['order'].amount }}</p>

    <h3>Items:</h3>
    <ul>
        {% for item in data['items'] %}
            <li>{{ item.product_name }} - Quantity: {{ item.quantity }} - Price: {{ item.price }} - Total: {{ item.total_price }}</li>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}
