{% extends 'base.html' %}

{% block content %}
<header class="order-header">
    <h1>Products Menu</h1>
</header>
<div class="menu-container">

    <form id="orderForm" action="{{ url_for('orders.process_order') }}" method="post" onsubmit="return validateOrder()">
        {% for group_name, products in grouped_products.items() %}
            <div class="product-group">
                <h2 class="product-group-title">{{ group_name }}</h2>
                <div class="product-grid">
                {% for product in products %}
                    <div class="product-card">
                        <img src="{{ product.image_url if 'http' in product.image_url else url_for('static', filename='images/' ~ product.image_url) }}" class="product-image" alt="{{ product.product_name }}">
                        <div class="product-info">
                            <h3 class="product-name">{{ product.product_name }}</h3>
                            <p class="product-price">{{ product.price | format_currency }}</p>
                            <p class="product-description">{{ product.description }}</p>
                            <input type="hidden" name="productId[]" value="{{ product.id }}">
                            <input type="hidden" name="productName[]" value="{{ product.product_name }}">
                            <input type="hidden" name="price[]" value="{{ product.price }}">
                            <div class="quantity-container">
                                <label for="quantity{{ product.id }}">Quantity:</label>
                                <input id="quantity{{ product.id }}" name="quantity[]" type="number" min="0" max="15" value="0" maxlength="2" onchange="updateTotal({{ product.id }}, this.value, {{ product.price }})">
                            </div>
                            <p class="item-total">Total: $<span id="itemTotal{{ product.id }}">0.00</span></p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <hr>
        {% endfor %}

        <div class="order-total-container">
            <p class="order-total-title">Order Total:</p>
            <p class="order-total-value" id="orderTotal">0.00</p>
        </div>

        <div class="form-actions">
            <input type="submit" value="Submit Order" class="button submit-button">
            <input type="reset" value="Reset Order" class="button reset-button" onclick="resetForm()">
        </div>
    </form>

    <hr>
</div>

<script>
    var itemTotals = new Array({{ total_products_count }});
</script>

<!-- Link to the external JavaScript file -->
<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endblock %}
