# Environment files
.env

# Python Bytecode
*.pyc
__pycache__/

# Django migrations
migrations/

# Database files
db.sqlite3

# Frontend build outputs
frontend/dist/

# Node modules
frontend/node_modules/

# Docker files
*.log
docker-compose.override.yml
*.swp
*.swo

# IDE-specific files
.vscode/
.idea/
